@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding:0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    padding: 50px;
    padding-top: 10px;
}

.blog-container {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}


.blog-activities{
    height: 150px;
    text-align: center;
    display: block;
}

#pageForm, #search-input, #sortForm, #filterForm{
    display: inline;
}

#pageForm{
    display: inline;
}
.input-field{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #000;
    color: #000;
    width: 40%;
    height: 30px;
    padding-left: 10px;
    display: inline;
}

.blog-data{
    border: 2px solid black;
    height: 200px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.blog-data a{
    display: block;
    text-decoration: none;
    color: inherit;
}

.heading{
    font-size: xxx-large;
}


.dropdown-field{
    width: 45%;
    height: 35px;
    border: 2px solid black;
    padding: 8px;
    outline: none;
    font-size: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    background-color: white;
}

.post-title{
    font-size: xx-large;
    margin: 10px;
    margin-top: 0;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: fade;
    width: 60%;
}

.post-author{
    font-size: large;
    margin: 15px;
}

.post-excerpt{
    margin: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Number of lines you want to display */
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Dropdown CSS*/

.dropdown{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 5px;
    width: 40%;
    height: 100%;
    background-color: white;
    position: relative;
    overflow: scroll;
    border: 2px solid black;
    z-index: 10;
}

.dropdown-content {
    display: none;
}

/*hover*/
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.dropdown-content a{
    border-top: 2px solid black;
    border-bottom: 0;
}

.content-option {
    color : black;
}

footer {
    overflow: hidden; /* Create a new block formatting context */
    margin-top: 20px;
}

.prev-link {
    float: left;
}

.next-link {
    float: right;
}

.post-tags {
    display: inline;
    float: right;
    background-color: lightgray;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 500px;
    font-size: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

/*.blog-data a div{*/
/*    border: 2px solid green;*/
/*    padding-right: 20px;*/
/*}*/

