@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding:0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    /*-webkit-user-select: none; !* Safari *!*/
    /*-ms-user-select: none; !* IE 10 and IE 11 *!*/
    /*user-select: none; !* Standard syntax *!*/
}

body{
    border: 2px solid red;
    padding: 50px;
    padding-top: 10px;
}

.blog-container {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.blog-activities{
    /*border: 2px solid green;*/
    height: 150px;
    text-align: center;
}

.blog-activities div{
    display: inline;
}

#pageForm, #search-input, #sortForm, #filterForm{
    display: inline;
}

#pageForm{
    display: inline;
}
.input-field{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #000;
    color: #000;
    width: 40%;
    height: 30px;
    padding-left: 10px;
    display: inline;
    /*margin: 10px;*/
    /*margin-right: 20px;*/
}

/*.login-class{*/
/*    display: inline;*/
/*}*/
/*#search-input{*/
/*    display: inline;*/
/*}*/

/*#pageForm{*/
/*    display: inline;*/
/*}*/

/*#sortForm{*/
/*    display: inline;*/
/*}*/

.blog-data{
    border: 2px solid black;
    height: 200px;
}
.blog-container div{

}

.heading{
    font-size: xxx-large;
}

.blog-activities{

}

.dropdown-field{
    width: 45%;
    height: 35px;
    border: 2px solid black;
    padding: 8px;
    outline: none;
    font-size: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    background-color: white;
}

.post-title{
    font-size: xx-large;
    margin: 10px;
}

.post-author{
    font-size: large;
    margin: 15px;
}

.post-excerpt{
    margin: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Number of lines you want to display */
    overflow: hidden;
    text-overflow: ellipsis;
}

/*a{*/
/*    color: #0000ee;*/
/*}*/
/*body{*/
/*    width: 100%;*/
/*    min-height: 100vh;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    background-color: #F0F0F0;*/
/*    padding-top: 20px;*/
/*}*/

/*.wrapper{*/
/*    width: 450px;*/
/*    height: 600px;*/
/*    min-height:100px;*/
/*    border-radius: 5px;*/
/*    padding: 30px;*/
/*}*/

/*.input-field{*/
/*    width: 100%;*/
/*    height: 65px;*/
/*    border: 2px solid black;*/
/*    padding: 10px;*/
/*    outline: none;*/
/*    font-size: 15px;*/
/*    margin-bottom: 20px;*/
/*    border-radius: 2px;*/
/*}*/



/*.heading .heading-text{*/
/*    color: #000;*/
/*    font-size: xxx-large;*/
/*    margin-bottom: 60px;*/
/*    text-align: center;*/
/*}*/

/*.heading p{*/
/*    color: #AAA8BB;*/
/*}*/

/*.heading i{*/
/*    font-size: 30px;*/
/*    color: #4D61FC;*/
/*}*/

/*label{*/
/*    color: #000;*/
/*    font-weight: 400;*/
/*}*/

/*.button-div{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    margin-top: 30px;*/
/*    margin-bottom: 30px;*/
/*}*/

/*button{*/
/*    text-align: center;*/
/*    width: 50%;*/
/*    height: 65px;*/
/*    border: 2px solid black;*/
/*    color: #000;*/
/*    border-radius: 2px;*/
/*    font-size: 17px;*/
/*    font-weight: 500;*/
/*}*/

/*.row{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/




