<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
    <link rel="stylesheet" th:href="@{/css/edit-post.css}">
</head>
<body>
<div class="title-div">
    <p class="page-title">Edit Post</p>
</div>

<form th:method="post" th:action="'/edit'" th:object="${post_data}">
    <input type="text" name="title" placeholder="Title" class="input-field" th:value="*{postTitle}">
    <br/> <br/>
    <input type="text" name="tags" placeholder="Tags(Comma Seperated)" class="input-field" th:value="*{#strings.arrayJoin(tags,',')}">
    <br/> <br/>
    <textarea style="width: 50%; height: 100px" name="content" placeholder="Content" class="input-textArea" th:text="*{postContent}"></textarea>
    <br/> <br/>
    <input type="hidden" name="postId" th:value="*{id}">
    <div class="submit-div">
        <input type="submit" value="Publish" class="submit-btn"/>
    </div>
</form>
</body>
</html>
