<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Blog Application</title>
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
    <script th:src="@{/js/multiselect-dropdown.js}"></script>
</head>
<body>
<div class="blog-container">
    <div class="blog-activities">
        <p class="heading">My Blog Application</p>
        <div sec:authorize="${isAuthenticated()}">
            <span sec:authentication="principal.username">
                Authenticated
            </span>
        </div>
    </div>
    <div class="blog-activities">
        <div class="login-search-myposts">
            <div class="profile-actions">

                <div sec:authorize="${isAuthenticated()}" class="logged-in-buttons">
                    <a th:href="'/createPost'"><button class="submit-btn" >Create Post</button></a>
                    <a th:href="'#'"><button class="submit-btn" >My Posts</button></a>
                    <a th:href="'/logout'"><button class="submit-btn" >Logout</button></a>
                </div>

                <div sec:authorize="${!isAuthenticated()}" class="auth-button">
                    <a th:href="'/login'"><button class="submit-btn" >Login</button></a>
                </div>
            </div>
        </div>

        <section>
            <form th:action="'/'">
                <div class="grid-container">
                    <div class="false-input">
<!--                        <select placeholder="Select Authors" name="author" id="author-dropdown" multiple multiselect-search="true" multiselect-select-all="true">-->
<!--                            <option th:each="author: ${authors_list}" th:value="*{author}" th:text="*{author}"></option>-->
<!--                        </select>-->
                        <select placeholder="Select Authors" name="user" id="author-dropdown" multiple multiselect-search="true" multiselect-select-all="true">
                            <option th:each="user: ${user_list}" th:value="*{user.email}" th:text="*{user.name}"></option>
                        </select>
                        <select placeholder="Select Tags" name="tag" id="tag-dropdown" multiple multiselect-search="true" multiselect-select-all="true">
                            <option th:each="tag: ${tags_list}" th:value="*{tag.name}" th:text="*{tag.name}"></option>
                        </select>

                        <select id="sorting" name="order">
                            <option value="none" selected hidden disabled>Sorting</option>
                            <option value="date-asc" label="New First" />
                            <option value="date-desc" label="Old First" />
                            <option value="title-asc" label="Title(A-Z)" />
                            <option value="title-desc" label="Title(Z-A)" />
                        </select>
                    </div>
                    <div class="false-input">
                        <input type="text" name="search" class="submit-btn"  style="width: 80%; margin-right: 20px" placeholder="Search Bar">
                        <input type="submit" value="Search" class="submit-btn" style="display: inline">
                    </div>

                    <div>
                    </div>
                </div>
            </form>
        </section>

    </div>

    <div th:each="post: ${posts_list}" class="blog-data">
        <a th:href="@{'/post/' + ${post.id}}">
            <div>
                <div th:each="tag: *{post.tags}" th:limit="1">
                    <p th:text="*{tag.name}" class="post-tags"></p>
                </div>
                <p th:text="*{post.postTitle}" th:class="'post-title'"></p>
            </div>
            <!-- <p th:text="*{post.tags}"></p> -->
            <span th:text="*{post.user.name}" th:class="'post-author'"></span>
            <span th:text="*{post.postCreateTime.toLocaleString()}"></span>
            <p th:text="*{post.postContent}" th:class="'post-excerpt'"></p>
            <span class="link"></span>
        </a>
    </div>
</div>

<footer>

    <div th:if="${previous_page >= 0}">
        <a th:href="@{'/?' + ${url_string} + '&start='  + ${previous_page} + '&limit=' + ${limit}}" class="prev-link"> << Prev</a>
    </div>

    <div th:if="${next_page < total_pages}">
        <a th:href="@{'/?' + ${url_string} + '&start='  + ${next_page} + '&limit=' + ${limit}}" class="next-link"> Next>> </a>
    </div>

</footer>
</body>
</html>