<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login-signup-page.css}">
</head>
<body>

    <form th:action="@{/auth}" method="post">
        <div class="wrapper">

            <div class="heading">
                <p class="heading-text">Login</p>
            </div>

            <div th:if="${param.error}" style="color: red; text-align: center; margin-bottom: 10px; font-weight: 500; font-size: 18px">
                Invalid username or password
            </div>

            <div class="input-group">
                <input type="text" id="username" class="input-field" placeholder="Username" name="username">
            </div>

            <div class="input-group">
                <input type="password" id="password" class="input-field" placeholder="Password" name="password">
            </div>

            <div class="input-group button-div">
                <button class="btn">Login <i class="fa-solid fa-arrow-right"></i></button>
            </div>

            <div class="input-group row">

                <div class="row">
                    <p>Doesn't have account? <a th:href="@{/register}"> Create One!</a></p>
                </div>
            </div>

        </div>
    </form>
</body>
</html>