<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <link rel="stylesheet" th:href="@{/css/edit-post.css}">
</head>
<body>
<div class="title-div">
    <p class="page-title">Create Post</p>
</div>

<form th:method="post" th:action="'/createPost'">
    <input type="text" name="title" placeholder="Title" class="input-field">

    <input type="text" name="excerpt" placeholder="Excerpt" class="input-field">

    <input type="text" name="tags" placeholder="Tags(Comma Seperated)" class="input-field">

    <textarea name="content" placeholder="Content" class="input-textArea"></textarea>

    <input type="hidden" name="isPublished" value="true" />
    <br/> <br/>
    <div class="submit-div">
        <input type="submit" value="Publish" class="submit-btn"/>
    </div>
</form>
</body>
</html>