<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sample</title>
    <link rel="stylesheet" th:href="@{/css/sample.css}">
</head>
<body>
<div class="blog-container">
    <div class="blog-activities">
        <p class="heading">My Blog Application</p>
    </div>
    <div class="blog-activities">
        <div class="login-search-myposts">
            <form th:type="'get'"class="search-form" style="display: inline">
                <input type="text" name="search" placeholder="Search" style="display: inline" class="input-field"/>
                <input type="submit" style="display: none;"/>
            </form>
            <div class="profile-actions">
                <a href="#">My Posts</a>
                <a th:href="'#'">Login</a>
            </div>
        </div>

        <section>
            <form>
                <div class="grid-container">
                    <div class="false-input">
                        <select id="dropdown" name="selected-dropdown-option">
                            <option value="search" selected>Search</option>
                            <option value="append-search" label="Append Search" />
                            <option value="author" label="Filter Author" />
                            <option value="tag" label="Filter Tag" />
                        </select>
                        <div style="border-right: 2px solid black; margin-right: 4px"></div>
                        <input type="text" name="query-entered" style="width: 60%; margin-bottom: 7px; margin-top: 7px; padding-left: 8px" placeholder="Comma Seperated">
                        <input type="submit" value="Search" class="submit-btn" style="display: inline">
                        <button class="submit-btn" style="display: inline">Reset</button>
                    </div>
                    <div>
                    </div>
                </div>
            </form>
        </section>

    </div>

    <div th:each="post: ${posts_list}" class="blog-data">
        <a th:href="@{'/' + ${post.id}}">
            <div>
                <div th:each="tag: *{post.tags}" th:limit="1">
                    <p th:text="*{tag.name}" class="post-tags"></p>
                </div>
                <p th:text="*{post.postTitle}" th:class="'post-title'"></p>
            </div>
            <!-- <p th:text="*{post.tags}"></p> -->
            <span th:text="*{post.author}" th:class="'post-author'"></span>
            <span th:text="*{post.postCreateTime.toLocaleString()}"></span>
            <p th:text="*{post.postContent}" th:class="'post-excerpt'"></p>
            <span class="link"></span>
        </a>
        <!--            <a th:href="@{'/posts/delete/' + ${post.id}}"><button type="submit" class="delete-button">Delete Post</button></a>-->
        <!--            <a th:href="@{'/edit/' + ${post.id}}"><button type="submit" class="delete-button">Edit Post</button></a>-->
    </div>
</div>

<footer>

    <div th:if="${previous_page >= 0}" th:unless="${search_pagination != null}">
        <a th:href="@{'/?start=' + ${previous_page} + '&limit=' + ${limit}}" class="prev-link"><< Prev</a>
    </div>
    <div th:if="${search_pagination != null && previous_page >= 0}">
        <a th:href="@{ '/?search=' + ${search_pagination}  + '&start=' + ${previous_page} + '&limit=' + ${limit}}" class="prev-link" th:text="'<<Previous Search Page'"></a>
    </div>

    <div th:if="${next_page < total_pages}" th:unless="${search_pagination != null}">
        <a th:href="@{'/?start=' + ${next_page} + '&limit=' + ${limit}}" class="next-link"> Next>></a>
    </div>

    <div th:if="${search_pagination != null && next_page < total_pages}">
        <a th:href="@{ '/?search=' + ${search_pagination}  + '&start=' + ${next_page} + '&limit=' + ${limit}}" class="next-link"> Next Search Page>></a>
    </div>
</footer>

<a th:href="'/createPost'"><button type="submit" class="crete-btn" style="margin-top: 50px">Create Post</button></a>

<div class="input-container">
    <label class="input-label" for="exampleInput">AUTHOR</label>
    <input class="input-box" type="text" id="exampleInput" placeholder="Enter your input">
</div>
</body>
</html>