<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sample</title>
  <link rel="stylesheet" th:href="@{/css/login-signup-page.css}">
</head>
<body>

<div class="wrapper">

  <div class="heading">
    <p class="heading-text">Create account</p>
  </div>

  <div class="input-group">
    <input type="text" id="username" class="input-field" placeholder="Name" >
  </div>

  <div class="input-group">
    <input type="text" id="email" class="input-field" placeholder="Enter Email" >
  </div>

  <div class="input-group">
    <input type="text" id="password" class="input-field" placeholder="Password" >
  </div>

  <div class="input-group">
    <input type="password" id="confirmPassword" class="input-field" placeholder="Confirm Password" >
  </div>

  <div class="input-group button-div">
    <button>Login <i class="fa-solid fa-arrow-right"></i></button>
  </div>

  <div class="input-group row">

    <div class="row">
      <p>Have account? <a href="#" target="_blank"> Login</a></p>
    </div>
  </div>

</div>
</body>
</html>